@model Orlandia2015.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Player Details</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            Player Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sName)
        </dd>

        <dt>
            Faction:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faction.sName)
        </dd>

        <dt>
            Current Rank:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iRank)
        </dd>

        <dt>
            Number of Points:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iPoints)
        </dd>

    </dl>
    <h4>Achievements:</h4>
    <ul class="list-unstyled">
        @foreach (var item in Model.Achievements.OrderBy(i => i.Achievement.iSortOrder))
        {
            <li>@item.Achievement.sName</li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.uPlayerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
