@model Orlandia2015.Models.Player

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Player</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.uPlayerID)

        <div class="form-group">
            @Html.LabelFor(model => model.sName, "Player Name:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.uFactionID, "Faction:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("uFactionID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.uFactionID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Points:</label>
            <div class="col-md-1">
                @Html.EditorFor(model => model.iPoints, new {htmlAttributes = new {@class = "form-control", ReadOnly = "true"}})
            </div>
            <div class="col-md-9">
                @* TODO: Add points button. Needs to update relevant systems when player point values update. *@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Rank:</label>
            <div class="col-md-1">
                @Html.EditorFor(model => model.iRank, new {htmlAttributes = new {@class = "form-control", ReadOnly = "true"}})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Player" class="btn btn-primary"/>
                @Html.ActionLink("Cancel", "Index", "Players", new {@class = "btn btn-warning"})
            </div>
        </div>
    </div>
}

<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
