@model Orlandia2015.Models.MissionAchievement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MissionAchievement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Achievement.sName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achievement.sName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iMissionCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iMissionCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.uMissionAchievementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
